@charset "utf-8";
/* System Name, CSS Version_Creater_Date */
/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:돋움, 'Dotum', 'Apple SD Gothic Neo';}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}
.res960{margin:0 auto; width:960px;}

#header .top_text	{text-align:center;}

#container .view-container	{	text-align:center; margin-top:30px;}

#footer .foot_explain	{	text-align:center;}

#wrap-introduce .area-intro { width:800px; height:300px;}