/* Reset */
.extjsSkin table, .extjsSkin tbody, .extjsSkin a, .extjsSkin img, .extjsSkin tr, .extjsSkin div, .extjsSkin td, .extjsSkin iframe, .extjsSkin span, .extjsSkin *, .extjsSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.extjsSkin a:hover, .extjsSkin a:link, .extjsSkin a:visited, .extjsSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.extjsSkin table td {vertical-align:middle}

/* Containers */
.extjsSkin table {background:transparent}
.extjsSkin iframe {display:block;}
.extjsSkin .mceToolbar {height:26px}

/* External */
.extjsSkin .mceExternalToolbar {position:absolute; border:1px solid #C2C2C2; border-bottom:0; display:none}
.extjsSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.extjsSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.extjsSkin table.mceLayout {border:0; border-left:1px solid #C2C2C2; border-top:1px solid #C2C2C2; border-right:1px solid #C2C2C2}
.extjsSkin table.mceLayout tr.mceFirst td {border-top:1px solid #FFFFFF}
.extjsSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #C2C2C2}
.extjsSkin table.mceToolbar, .extjsSkin tr.mceFirst .mceToolbar tr td, .extjsSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.extjsSkin .mceIframeContainer {border-top:1px solid #C2C2C2; border-bottom:1px solid #C2C2C2}
.extjsSkin td.mceToolbar{background:url('./img/toolbar_background.png') repeat-x top; }
.extjsSkin .mceStatusbar {background:#f8f8f8; display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; height:20px}
.extjsSkin .mceStatusbar div {float:left; padding:2px}
.extjsSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.extjsSkin .mceStatusbar a:hover {text-decoration:underline}
.extjsSkin table.mceToolbar {margin-left:3px}
.extjsSkin .mceToolbar .mceToolbarStart span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px; margin-left:3px;}
.extjsSkin .mceToolbar td.mceFirst span {margin:0}
.extjsSkin .mceToolbar .mceToolbarEnd span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px}
.extjsSkin .mceToolbar .mceToolbarEndListBox span, .extjsSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.extjsSkin span.mceIcon, .extjsSkin img.mceIcon {display:block; width:20px; height:20px}
.extjsSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.extjsSkin td.mceCenter {text-align:center;}
.extjsSkin td.mceCenter table {margin:0 auto; text-align:left;}
.extjsSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.extjsSkin .mceButton {display:block; background:url(img/button_bg.png); width:22px; height:22px}
.extjsSkin a.mceButton span, .extjsSkin a.mceButton img {margin-left:1px}
.extjsSkin .mceOldBoxModel a.mceButton span, .extjsSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.extjsSkin a.mceButtonEnabled:hover {background-color:#B2BBD0; background-position:0 -22px}
.extjsSkin a.mceButtonActive, .extjsSkin a.mceButtonSelected {background-position:0 -44px}
.extjsSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.extjsSkin .mceButtonLabeled {width:auto}
.extjsSkin .mceButtonLabeled span.mceIcon {float:left}
.extjsSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.extjsSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.extjsSkin .mceSeparator {display:block; background:url(img/button_bg.png) -22px 0; width:5px; height:22px}

/* ListBox */
.extjsSkin .mceListBox  {padding-left: 3px}
.extjsSkin .mceListBox, .extjsSkin .mceListBox a {display:block}
.extjsSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; border:1px solid #aaaaaa; border-right:0; border-top-left-radius:2px; border-bottom-left-radius:2px; background:#fefefe; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.extjsSkin .mceListBox .mceOpen {width:14px; height:22px; background:url(img/button_bg.png) -66px 0}
.extjsSkin table.mceListBoxEnabled:hover .mceText, .extjsSkin .mceListBoxHover .mceText, .extjsSkin .mceListBoxSelected .mceText {background:#FFF}
.extjsSkin table.mceListBoxEnabled:hover .mceOpen, .extjsSkin .mceListBoxHover .mceOpen, .extjsSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.extjsSkin .mceListBoxDisabled .mceText {color:gray}
.extjsSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden; margin-left:3px}
.extjsSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.extjsSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.extjsSkin .mceSplitButton, .extjsSkin .mceSplitButton a, .extjsSkin .mceSplitButton span {display:block; height:22px; direction:ltr}
.extjsSkin .mceSplitButton {background:url(img/button_bg.png)}
.extjsSkin .mceSplitButton a.mceAction {width:22px}
.extjsSkin .mceSplitButton span.mceAction {width:22px; background-image:url(../../img/icons.gif)}
.extjsSkin .mceSplitButton a.mceOpen {width:10px; background:url(img/button_bg.png) -44px 0}
.extjsSkin .mceSplitButton span.mceOpen {display:none}
.extjsSkin table.mceSplitButtonEnabled:hover a.mceAction, .extjsSkin .mceSplitButtonHover a.mceAction, .extjsSkin .mceSplitButtonSelected {background:url(img/button_bg.png) 0 -22px}
.extjsSkin table.mceSplitButtonEnabled:hover a.mceOpen, .extjsSkin .mceSplitButtonHover a.mceOpen, .extjsSkin .mceSplitButtonSelected a.mceOpen {background-position:-44px -44px}
.extjsSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.extjsSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.extjsSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.extjsSkin .mceColorSplitMenu td {padding:2px}
.extjsSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.extjsSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.extjsSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.extjsSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.extjsSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.extjsSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a;overflow:hidden}
.extjsSkin .mce_forecolor span.mceAction, .extjsSkin .mce_backcolor span.mceAction {height:15px;overflow:hidden}

/* Menu */
.extjsSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #C2C2C2; direction:ltr}
.extjsSkin .mceNoIcons span.mceIcon {width:0;}
.extjsSkin .mceNoIcons a .mceText {padding-left:10px}
.extjsSkin .mceMenu table {background:#FFF}
.extjsSkin .mceMenu a, .extjsSkin .mceMenu span, .extjsSkin .mceMenu {display:block}
.extjsSkin .mceMenu td {height:20px}
.extjsSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.extjsSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.extjsSkin .mceMenu span.mceText, .extjsSkin .mceMenu .mcePreview {font-size:11px}
.extjsSkin .mceMenu pre.mceText {font-family:Monospace}
.extjsSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.extjsSkin .mceMenu .mceMenuItemEnabled a:hover, .extjsSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.extjsSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.extjsSkin .mceMenuItemTitle a {border:0; background:#E5EFFD; border-bottom:1px solid #C2C2C2}
.extjsSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.extjsSkin .mceMenuItemDisabled .mceText {color:#888}
.extjsSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.extjsSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.extjsSkin .mceMenu span.mceMenuLine {display:none}
.extjsSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}
.extjsSkin .mceMenuItem td, .extjsSkin .mceMenuItem th {line-height: normal}

/* Progress,Resize */
.extjsSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=50); background:#FFF}
.extjsSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Rtl */
.mceRtl .mceListBox .mceText {text-align: right; padding: 0 4px 0 0}
.mceRtl .mceMenuItem .mceText {text-align: right}

/* Formats */
.extjsSkin .mce_formatPreview a {font-size:10px}
.extjsSkin .mce_p span.mceText {}
.extjsSkin .mce_address span.mceText {font-style:italic}
.extjsSkin .mce_pre span.mceText {font-family:monospace}
.extjsSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.extjsSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.extjsSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.extjsSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.extjsSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.extjsSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.extjsSkin span.mce_bold {background-position:0 0}
.extjsSkin span.mce_italic {background-position:-60px 0}
.extjsSkin span.mce_underline {background-position:-140px 0}
.extjsSkin span.mce_strikethrough {background-position:-120px 0}
.extjsSkin span.mce_undo {background-position:-160px 0}
.extjsSkin span.mce_redo {background-position:-100px 0}
.extjsSkin span.mce_cleanup {background-position:-40px 0}
.extjsSkin span.mce_bullist {background-position:-20px 0}
.extjsSkin span.mce_numlist {background-position:-80px 0}
.extjsSkin span.mce_justifyleft {background-position:-460px 0}
.extjsSkin span.mce_justifyright {background-position:-480px 0}
.extjsSkin span.mce_justifycenter {background-position:-420px 0}
.extjsSkin span.mce_justifyfull {background-position:-440px 0}
.extjsSkin span.mce_anchor {background-position:-200px 0}
.extjsSkin span.mce_indent {background-position:-400px 0}
.extjsSkin span.mce_outdent {background-position:-540px 0}
.extjsSkin span.mce_link {background-position:-500px 0}
.extjsSkin span.mce_unlink {background-position:-640px 0}
.extjsSkin span.mce_sub {background-position:-600px 0}
.extjsSkin span.mce_sup {background-position:-620px 0}
.extjsSkin span.mce_removeformat {background-position:-580px 0}
.extjsSkin span.mce_newdocument {background-position:-520px 0}
.extjsSkin span.mce_image {background-position:-380px 0}
.extjsSkin span.mce_help {background-position:-340px 0}
.extjsSkin span.mce_code {background-position:-260px 0}
.extjsSkin span.mce_hr {background-position:-360px 0}
.extjsSkin span.mce_visualaid {background-position:-660px 0}
.extjsSkin span.mce_charmap {background-position:-240px 0}
.extjsSkin span.mce_paste {background-position:-560px 0}
.extjsSkin span.mce_copy {background-position:-700px 0}
.extjsSkin span.mce_cut {background-position:-680px 0}
.extjsSkin span.mce_blockquote {background-position:-220px 0}
.extjsSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.extjsSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.extjsSkin span.mce_forecolorpicker {background-position:-720px 0}
.extjsSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.extjsSkin span.mce_advhr {background-position:-0px -20px}
.extjsSkin span.mce_ltr {background-position:-20px -20px}
.extjsSkin span.mce_rtl {background-position:-40px -20px}
.extjsSkin span.mce_emotions {background-position:-60px -20px}
.extjsSkin span.mce_fullpage {background-position:-80px -20px}
.extjsSkin span.mce_fullscreen {background-position:-100px -20px}
.extjsSkin span.mce_iespell {background-position:-120px -20px}
.extjsSkin span.mce_insertdate {background-position:-140px -20px}
.extjsSkin span.mce_inserttime {background-position:-160px -20px}
.extjsSkin span.mce_absolute {background-position:-180px -20px}
.extjsSkin span.mce_backward {background-position:-200px -20px}
.extjsSkin span.mce_forward {background-position:-220px -20px}
.extjsSkin span.mce_insert_layer {background-position:-240px -20px}
.extjsSkin span.mce_insertlayer {background-position:-260px -20px}
.extjsSkin span.mce_movebackward {background-position:-280px -20px}
.extjsSkin span.mce_moveforward {background-position:-300px -20px}
.extjsSkin span.mce_media {background-position:-320px -20px}
.extjsSkin span.mce_nonbreaking {background-position:-340px -20px}
.extjsSkin span.mce_pastetext {background-position:-360px -20px}
.extjsSkin span.mce_pasteword {background-position:-380px -20px}
.extjsSkin span.mce_selectall {background-position:-400px -20px}
.extjsSkin span.mce_preview {background-position:-420px -20px}
.extjsSkin span.mce_print {background-position:-440px -20px}
.extjsSkin span.mce_cancel {background-position:-460px -20px}
.extjsSkin span.mce_save {background-position:-480px -20px}
.extjsSkin span.mce_replace {background-position:-500px -20px}
.extjsSkin span.mce_search {background-position:-520px -20px}
.extjsSkin span.mce_styleprops {background-position:-560px -20px}
.extjsSkin span.mce_table {background-position:-580px -20px}
.extjsSkin span.mce_cell_props {background-position:-600px -20px}
.extjsSkin span.mce_delete_table {background-position:-620px -20px}
.extjsSkin span.mce_delete_col {background-position:-640px -20px}
.extjsSkin span.mce_delete_row {background-position:-660px -20px}
.extjsSkin span.mce_col_after {background-position:-680px -20px}
.extjsSkin span.mce_col_before {background-position:-700px -20px}
.extjsSkin span.mce_row_after {background-position:-720px -20px}
.extjsSkin span.mce_row_before {background-position:-740px -20px}
.extjsSkin span.mce_merge_cells {background-position:-760px -20px}
.extjsSkin span.mce_table_props {background-position:-980px -20px}
.extjsSkin span.mce_row_props {background-position:-780px -20px}
.extjsSkin span.mce_split_cells {background-position:-800px -20px}
.extjsSkin span.mce_template {background-position:-820px -20px}
.extjsSkin span.mce_visualchars {background-position:-840px -20px}
.extjsSkin span.mce_abbr {background-position:-860px -20px}
.extjsSkin span.mce_acronym {background-position:-880px -20px}
.extjsSkin span.mce_attribs {background-position:-900px -20px}
.extjsSkin span.mce_cite {background-position:-920px -20px}
.extjsSkin span.mce_del {background-position:-940px -20px}
.extjsSkin span.mce_ins {background-position:-960px -20px}
.extjsSkin span.mce_pagebreak {background-position:0 -40px}
.extjsSkin span.mce_restoredraft {background-position:-20px -40px}
.extjsSkin span.mce_spellchecker {background-position:-540px -20px}
.extjsSkin span.mce_visualblocks {background-position: -40px -40px}

/*
Undo the settings from the ExtJS in ext-all.css 

.x-border-box * 
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

otherwise the dropdowns in the WYSIWYG toolbar are 
rendered wrong.
*/

.x-border-box .mceEditor * 
{
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;  
}

/*
We define the invalid class for the editor
to mark the content area invalid, if the ExtJS
says it is invalid.

It should be defined with a stronger rule
than just .tinymce-error-field {}, otherwise,
the skin rules override this.
*/

.extjsSkin td.tinymce-error-field 
{
  border: 1px dashed red;
}