#set($head = '
	<script type="text/javascript" src="' + $_cpx + '/scripts/introduce/input_text_limit.js"></script>
')
<div id="wrap-introduce">
	#if($account.nickname=="admin")
	<a href="$request.contextPath/session/destroy">로그아웃</a>
	<a href="$request.contextPath/introduce/sub" style="float:right;">심화</a>
	#end
	<form action="$_cpx/introduce/modify/$one.id" method="POST">
		<div class="intro-one">1. 고교 재학 중 학업에 기울인 노력, 학습 경험에 대해 배우고 느낀점을 중심으로 기술 (1,000자 이내)</div>
	    <textarea class="area-one area-intro" name="intro-one">$!one.content</textarea>
	    <span class="counter-one"></span>
	    #if($account.nickname=="admin")
		<input type="submit" id="input-submit" value="등록" />
		#end
	</form>
	
	<form action="$_cpx/introduce/modify/$two.id" method="POST">
		<div class="intro-two">2. 고교 재학 중 본인이 의미를 두고 노력했던 교내 활동을 배우고 느낀점을 중심으로 3개 이내로 기술 (1,500자 이내)</div>
		<textarea class="area-two area-intro" name="intro-two">$!two.content</textarea>
		<span class="counter-two"></span>
		#if($account.nickname=="admin")
		<input type="submit" id="input-submit" value="등록" />
		#end
	</form>
	<form action="$_cpx/introduce/modify/$three.id" method="POST">
		<div class="intro-three">3. 학교 생활 중 배려, 나눔, 협력, 갈등 관리 등을 실천한 사례를 들고, 그 과정을 통해 배우고 느낀 점을 기술(1,000자 이내)</div>
		<textarea class="area-three area-intro" name="intro-three">$!three.content</textarea>
		<span class="counter-three"></span>
		#if($account.nickname=="admin")
		<input type="submit" id="input-submit" value="등록" />
		#end
	</form>
</div>